{extend name="common/base"}


{block name="style"}

<link rel="stylesheet" type="text/css" href="{$static_path}/advance/css/sub_page.css?_={$site_version}">

{/block}

{block name="content"}

<!--服务1-->
<div class="expert-opinion-wrapper" id="Gemomao">
      <div class="expert-section expert-section-1">
        <p class="expert-titles"><span>การบริการขอความเห็นที่ 2 จากแพทย์ผู้เชี่ยวชาญ (ESMO)</span></p>
        <div class="expert-sub-2">
        <div style="width: 100%;height: auto;">
            <div class="center-left"></div>
            <div class="center-right">
              <div class="topbar-new"></div>
               <p class="center-text1">สำหรับใครก็ตามที่ต้องตัดสินใจเกี่ยวกับการรักษาที่สำคัญๆนั้น เวลาที่ใช้ในการพูดคุยปรึกษากับแพทย์ถือเป็นสิ่งจำเป็นและสำคัญที่สุด เราจึงขอมอบบริการให้คำปรึกษาจากแพทย์แบบไม่จำกัดจำนวนครั้งเพื่อช่วยให้คุณเข้าใจในสิ่งที่กำลังจะเผชิญ วิธีการรักษา และได้หนึ่งในคำตอบที่ดีที่สุดในเรื่องที่คุณกังวล"</p>
              <div class="bottombar-new"><div class="bottombar1-new"></div><div class="bottombar2-new"></div></div>
            </div>
            <div class="clearfix"></div>
        </div>
      </div>
        <div class="expert-sub expert-sub-1">
          <div class="expert-feature-wrapper clearfix">
            <div class="expert-feature clearfix">
              <div class="image-wrapper"><img src="{$static_path}/advance/img/icon/1.png" alt=""></div>
              <div class="feature-caption">
                <span class="feature-title">
                ที่ปรึกษาส่วนตัวด้านสุขภาพ
                </span>
                <span class="feature-title-four">ท่านจะได้รับการดูแลจากที่ปรึกษาทางการแพทย์ที่ได้รับมอบหมายให้ดูแลท่านโดยเฉพาะ ซึ่งจะให้เวลาอย่างเต็มที่เพื่อทำความเข้าใจและรวบรวมประวัติทางการแพทย์ของท่าน รวมทั้งแนะนำคำถามที่จำเป็นและสำคัญที่ต้องปรึกษากับแพทย์ผู้เชี่ยวชาญเฉพาะทาง</span>
                <!-- <span>The average practice for more than 10 years</span> -->
              </div>
            </div>
            <div class="expert-feature clearfix">
              <div class="image-wrapper"><img src="{$static_path}/advance/img/icon/2.png" alt=""></div>
              <div class="feature-caption">
              <span class="feature-title">
              การวิเคราะห์โดยแพทย์ผู้เชียวชาญเฉพาะทาง
              </span>
              <span class="feature-title-four">คณะกรรมการของทีมแพทย์ผู้เชี่ยวชาญเฉพาะทางระดับโลกของแอดวานส์ เมดิคอล จะทำการวินิจฉัยโรคร่วมกัน เพื่อให้ได้มาซึ่งผลวินิจฉัยที่ถูกต้องไปจนถึงแผนการรักษาที่ให้ผลน่าพอใจที่สุด</span>
              </div>
            </div>
            <div class="expert-feature clearfix">
              <div class="image-wrapper"><img src="{$static_path}/advance/img/icon/3.png" alt=""></div>
              <div class="feature-caption">
              <span class="feature-title">
              การปฐมนิเทศทางการแพทย์
              </span>
              <span class="feature-title-four">ที่ปรึกษาส่วนตัวด้านสุขภาพ พร้อมให้ความช่วยเหลือท่านและครอบครัวตามความต้องการ เพื่อช่วยให้ท่านและครอบครัวเข้าใจในแผนการรักษา สิ่งที่คาดหวัง และผลการรักษาที่อาจเกิดขึ้น โดยการปรึกษานั้นจะเสร็จสมบูรณ์ต่อเมื่อคำถามทั้งหมดได้ถูกตอบแล้ว
</span>
              </div>
            </div>
          </div>
        </div>
        <div class="expert-sub expert-sub-2">
          <h3><span style="color:#017f4f;font-weight: bold;">ตัวอย่างความคิดเห็นจากแพทย์ผู้เชียวชาญระดับนานาชาติ</span></h3>
          <div class="expert-main-example">
            <div class="image-wrapper">
              <img src="{$static_path}/advance/img/expert-opinion01.jpg" alt="">
            </div>
            <div class="expert-info-wrapper">
              <span class="expert-remark expert-remark-1" style="letter-spacing:3px;">"เมื่อท่านมีข้อกังวลในเรื่องการวินิจฉัยโรค การพยากรณ์โรค หรือแม้แต่ทางเลือกในการรักษาโรค --นี่ถือว่าเป็นช่วงเวลาที่เหมาะสมที่ท่านจะขอข้อมูลเพิ่มเติม โดยความเห็นของผู้เชี่ยวชาญทางการแพทย์จะช่วยให้ท่านได้ตรวจสอบและเป็นเสมือนคันชั่งให้คุณเลือกพินิจพิเคราะห์ข้อมูลทางการรักษาทั้งหมดที่มีผลกระทบต่อท่าน"
              </span>
              <span class="expert-info" style="text-align:center; ">&nbsp;&nbsp;&nbsp;</span>
              <span class="expert-info" style="text-align:center; ">ศาสตราจารย์ นายแพทย์ ธีโอดอร์ สไตน์แมน จาก </span>
              <!-- <span class="expert-info" style="text-align:center; ">Theodore Steinman, MD</span> -->
              <span class="expert-info" style="text-align:center; ">Harvard Medical School </span>
            </div>
          </div>
        </div>
        <div class="expert-example-wrapper clearfix">
          <div class="expert special-expert">
            <div class="image-wrapper">
              <img src="{$static_path}/advance/img/portrait/potrait01.png" alt="">
            </div>
            <span>ศาสตราจารย์ นายแพทย์ ธีโอดอร์ สไตน์แมน จาก </span>
            <div class="expert-details">
              <span class="expert-margin">
              </span>
              <span class="expert-name">ศาสตราจารย์ นายแพทย์ ธีโอดอร์ สไตน์แมน จาก </span>
              <span class="expert-info">
                <span>Harvard Medical School&nbsp;Professor of Clinical Medicine</span>
                <span>"เมื่อท่านมีข้อกังวลในเรื่องการวินิจฉัยโรค การพยากรณ์โรค หรือแม้แต่ทางเลือกในการรักษาโรค --นี่ถือว่าเป็นช่วงเวลาที่เหมาะสมที่ท่านจะขอข้อมูลเพิ่มเติม</span>
                <span>โดยความเห็นของผู้เชี่ยวชาญทางการแพทย์จะช่วยให้ท่านได้ตรวจสอบและเป็นเสมือนคันชั่งให้คุณเลือกพินิจพิเคราะห์ข้อมูลทางการรักษาทั้งหมดที่มีผลกระทบต่อท่าน</span>
              </span>
            </div>
          </div>   
          <div class="expert">
            <div class="image-wrapper">
              <img src="{$static_path}/advance/img/portrait/potrait02.png" alt="">
            </div>
            <span class="special-expert-name">แพทย์หญิง โมนิกา คาสติกลิโอเน-เกิร์ช</span>
            <div class="expert-details">
              <span class="expert-margin">
              </span>
              <span class="expert-name">แพทย์หญิง โมนิกา คาสติกลิโอเน-เกิร์ช.</span>
              <span class="expert-info">
                <span>University Hospital Geneva</span>
                <span>หัวหน้าแพทย์แผนกเนื้องอกนรีเวชวิทยา และผู้อำนวยการศูนย์เต้านม</span>
                <span>ผู้ให้คำแนะนำและที่ปรึกษาของ Swiss Zurich</span>
              </span>
            </div>
          </div>
          <div class="expert">
            <div class="image-wrapper">
              <img src="{$static_path}/advance/img/portrait/potrait03.png" alt="">
            </div>
            <span>นายแพทย์ ฟรานโก เอ็ม. มักกิอา</span>
            <div class="expert-details">
              <span class="expert-margin">
              </span>
              <span class="expert-name">นายแพทย์ ฟรานโก เอ็ม. มักกิอา</span>
              <span class="expert-info">
                <span>NYU School of Medicine and Perimutter Cancer Institute</span>
                <span>ศาสตราจารย์แผนกเนื้องอกวิทยา หลักสูตรมะเร็งทรวงอก</span>
              </span>
            </div>
          </div>
          <div class="expert">
            <div class="image-wrapper">
              <img src="{$static_path}/advance/img/portrait/potrait04.png" alt="">
            </div>
            <span>นายแพทย์ โดนัล ไอ. เอบรัมส์</span>
            <div class="expert-details">
              <span class="expert-margin">
              </span>
              <span class="expert-name">นายแพทย์ โดนัล ไอ. เอบรัมส์</span>
              <span class="expert-info">
                <span>University of California, San Francisco</span>
                <span>Osher Center for Integrative Medicine</span>
                <span>หัวหน้าแพทย์ประจำโรงพยาบาลกลาง ซานฟรานซิสโก แผนกโลหิตวิทยา/เนื้องอกวิทยา </span>
                <!-- <span>Chief, Hematology/Oncology Division</span> -->
              </span>
            </div>
          </div>
          <div class="expert expert-next">
            <div class="image-wrapper">
              <img src="{$static_path}/advance/img/portrait/potrait05.png" alt="">
            </div>
            <span>นายแพทย์ เอลเลียต เอส. คราเมส</span>
            <div class="expert-details">
            <span class="expert-margin">
              </span>
              <span class="expert-name">นายแพทย์ เอลเลียต เอส. คราเมส</span>
              <span class="expert-info">
                <span>กรรมการกิตติมศักดิ์ประจำสมาคมอายุรแพทย์ระบบประสาทนานาชาติ</span>
                <span>บรรณาธิการกิตติมศักดิ์ ของวารสาร LEARN เรื่อง "การควบคุมระบบประสาท"</span>
              </span>
            </div>
          </div>
        </div>
        <!-- <div class="expert-example-caption">
          <span>We have a global network</span>
        </div> -->
      </div>
      <div class="expert-section expert-section-2">
        <div class="expert-sub expert-sub-5"></div>
        <div class="diagnose-process-wrapper2 clearfix">
          <div class="diagnose-step">
            <div class="step-wrapper">
              <div class="diagnose-step-num">1</div>
              <div class="diagnose-step-context">
                <div class="diagnose-step-text">
                  <span class="step-title" style="font-weight: bolder;">สถานการณ์สำหรับบริการ ESMO</span>
                  <span class="step-title">กรณีตัวอย่างสำหรับผู้เชี่ยวชาญด้านความเชี่ยวชาญด้านการให้บริการทางการแพทย์ที่สอง:</span>
                  <ul style="padding-left: 15px;">
                    <li>เมื่อคุณต้องการตรวจสอบและยืนยันการวินิจฉัยที่ได้รับ</li>
                    <li>เมื่อได้รับการวินิจฉัยว่าเป็นโรคที่สำคัญเช่นโรคมะเร็งหรือโรคหัวใจและคุณต้องการทำความเข้าใจกับแนวทางการรักษา
</li>
                    <li>เมื่อได้รับการผ่าตัดและคุณต้องการยืนยันการรักษา
</li>
                    <li>เมื่อได้รับการวินิจฉัยตรงกันข้ามจากแพทย์ที่แตกต่างกัน

</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="diagnose-step">
            <div class="step-wrapper">
              <div class="diagnose-step-num">2</div>
              <div class="diagnose-step-context">
                <div class="diagnose-step-text">
                  <span class="step-title" style="font-weight: bolder;">สถานการณ์ไม่เหมาะสมสำหรับบริการ ESMO

</span>
                 <span class="step-title">ผู้เชี่ยวชาญด้านการให้บริการด้านความคิดเห็นทางการแพทย์ครั้งที่สองไม่รวมถึง:   
</span>
                  <ul style="padding-left: 15px;">
                    <li>กรณีฉุกเฉิน</li>
                    <li>กรณีประสบอุบัติเหตุ</li>
                    <li>สถานการณ์เร่งด่วนที่คุกคามชีวิตการรับสมัครเพื่อดูแลที่สำคัญ ฯลฯ ...</li>
                    <li>ประเด็นประจำวันทั่วไปเช่นไข้หวัดไข้หวัดใหญ่ไข้หวัดไข้หวัดใหญ่เป็นครั้งคราว
</li>
                    <li style="list-style: none;">&nbsp;</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





{/block}



{/extend}
